.App {
    text-align: center;
}

nav {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 600px;
    z-index: 3;
}

nav h1 {
    background-color: cornflowerblue;
    margin-bottom: -35px;
    padding: 25px 35px 35px;
    border-radius: 30px;
    z-index: 3;
}

.nav-links {
    border-top: 15px solid cornflowerblue;
    border-bottom: 15px solid cornflowerblue;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 35px 30px;
    padding-bottom: 30px;
    margin: 0px;
    border-radius: 10px;
    z-index: 2;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    flex-shrink: 0; /* Prevent items from shrinking when space is limited */
    
}

.nav-list {
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.nav-link {
    margin: 5px 10%;
    color: midnightblue;
    white-space: nowrap;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}