.App {
    text-align: center;
}

nav {
    background: rgb(167, 201, 207);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav h1 {
    background-color: rgb(58, 99, 211);
    margin-bottom: -45px;
    padding: 40px;
    border-radius: 30px;
    z-index: 1;
}

.nav-links {
    background-color: rgb(58, 99, 211);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-list {
    background-color: rgb(58, 99, 211);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}