.languagesSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.languagesSkills img {
    max-width: 150px;
    height: auto;
    margin: 15px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key ul {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    flex-wrap: wrap;

}

.key li {
    font-size: 30px;
    margin: 10px 20px; 
}


