body {
    background: linear-gradient(rgb(25, 25, 112), rgb(255, 255, 255));
    font-family: 'Jost', sans-serif;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 227, 227);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 15px;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: midnightblue;
}

.pageTitle {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 50%; 
    margin: 0 auto; 
    margin-top: -28px;
    padding: 20px; 
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: midnightblue;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: midnightblue;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: midnightblue;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    max-width: 80%;
}

.techStackList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

li {
    font-size: 24px;
}

a {
    font-size: 24px;
}

button {
    border: 5px solid cornflowerblue;
    border-radius: 30px;
    color: cornflowerblue;
    background-color: transparent;
    font-size: 24px;
    overflow: hidden;
    width: 200px;
    height: 48px;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  
button::after {
    background-color: cornflowerblue;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
  
button:hover::after {
    transform: translate(0, 0);
}
    
button:hover {
    border: 2px solid transparent;
    color: midnightblue;
    transform: scale(1.05);
    will-change: transform;
    cursor: pointer;
}
  